---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="a new innovation organization who is one of the new business development teams"
	pubDate={new Date('February 01 2023')}
	updatedDate={new Date('February 01 2023')}
	heroImage="/placeholder-about.jpg"
>
<p>
	<code>“WEDO”</code> - a new innovation organization who is one of the new business development teams of SCG Cement-Building Materials. We are a small team with big passion who want to be part of the development of Thai people and Thailand to the New Economies, with creativity, innovation, and technology. 
</p>

<p>
	We bring best practices in Design, Business, and Technology, as well as Humble, Passionate, and Fearless mindsets, which are the heart of WEDO, to drive Digital Transformation in SCG Cement-Building Materials. 
</p>

<p>
	If you have passion with the potential of Zero to One thinking, dare to back to square one and always start working with the questions: 'What do our customers want?’ and ‘What should we do to meet their needs?' Let's show your potential and make an impact together at WEDO. 
</p>

<p>
	If you are a representative from the government or private sector, education sector, or startups who would like to help develop new talent and drive New Economies, contact us at 
</p>
 
Facebook: WEDO
Email: WEDO@scg.com 
</Layout>
