---
import HeaderLink from './HeaderLink.astro';

export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

---

<div class="page-heading">
	<h1>WE-DO</h1>
	<span class="subheading">{ description }</span>
</div>
<header class="masthead" style="background-image: url('/placeholder-welcome.avif')">
	<div class="overlay" />
	<div class="container" />
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
