---
import HeaderLink from './HeaderLink.astro';
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
	<div class="container">
		<a class="navbar-brand" href="#" style="margin-top: -10px;">
			<img src="/logo.png" alt="" width="70">
		</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="true" aria-label="Toggle navigation">
			Menu
			<svg class="svg-inline--fa fa-bars fa-w-14" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg><!-- <i class="fa fa-bars"></i> Font Awesome fontawesome.com -->
		</button>
		<div class="navbar-collapse collapse show" id="navbarResponsive" style="">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://medium.com/we-do" target="_blank">
						<svg class="svg-inline--fa fa-bars fa-w-14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="10" viewBox="0 0 122.88 121.93" xml:space="preserve"><g style="fill:#bababa"><path d="M8.33,0.02h29.41v20.6H20.36v80.7h82.1V84.79h20.36v37.14H0V0.02H8.33L8.33,0.02z M122.88,0H53.3l23.74,23.18l-33.51,33.5 l21.22,21.22L98.26,44.4l24.62,24.11V0L122.88,0z"/></g></svg> Blogs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://github.com/scg-wedo" target="_blank"><svg class="svg-inline--fa fa-bars fa-w-14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="10" viewBox="0 0 122.88 121.93" xml:space="preserve"><g style="fill:#bababa"><path d="M8.33,0.02h29.41v20.6H20.36v80.7h82.1V84.79h20.36v37.14H0V0.02H8.33L8.33,0.02z M122.88,0H53.3l23.74,23.18l-33.51,33.5 l21.22,21.22L98.26,44.4l24.62,24.11V0L122.88,0z"/></g></svg> GitHub</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://twitter.com/scg-wedo" target="_blank"><svg class="svg-inline--fa fa-bars fa-w-14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="10" viewBox="0 0 122.88 121.93" xml:space="preserve"><g style="fill:#bababa"><path d="M8.33,0.02h29.41v20.6H20.36v80.7h82.1V84.79h20.36v37.14H0V0.02H8.33L8.33,0.02z M122.88,0H53.3l23.74,23.18l-33.51,33.5 l21.22,21.22L98.26,44.4l24.62,24.11V0L122.88,0z"/></g></svg> Twitter</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<style>

#mainNav {
	position: absolute;
	border-bottom: 1px solid #e9ecef;
	background-color: white;
	font-family: "Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

#mainNav .navbar-brand {
	font-weight: 800;
	color: #343a40
}

#mainNav .navbar-toggler {
	font-size: 12px;
	font-weight: 800;
	padding: 13px;
	text-transform: uppercase;
	color: #343a40
}
#mainNav .navbar-nav {
	width: 100%;
	justify-content: flex-end;
}


#mainNav .navbar-nav>li.nav-item>a {
	font-size: 12px;
	font-weight: 800;
	letter-spacing: 1px;
	text-transform: uppercase
}

@media only screen and (min-width: 992px) {
	#mainNav {
			border-bottom:1px solid transparent;
			background: transparent
	}

	#mainNav .navbar-brand {
			/* padding: 10px 20px; */
			color: #fff
	}

	#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover {
			color: rgba(255,255,255,0.8)
	}

	#mainNav .navbar-nav>li.nav-item>a {
			padding: 10px 20px;
			color: #fff
	}

	#mainNav .navbar-nav>li.nav-item>a:focus,#mainNav .navbar-nav>li.nav-item>a:hover {
			color: rgba(255,255,255,0.8)
	}
}

@media only screen and (min-width: 992px) {
	#mainNav {
		-webkit-transition:background-color 0.2s;
		-moz-transition: background-color 0.2s;
		transition: background-color 0.2s;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden
	}

	#mainNav.is-fixed {
		position: fixed;
		top: -67px;
		-webkit-transition: -webkit-transform 0.2s;
		-moz-transition: -moz-transform 0.2s;
		transition: transform 0.2s;
		border-bottom: 1px solid #fff;
		background-color: rgba(255,255,255,0.9)
	}

	#mainNav.is-fixed .navbar-brand {
		color: #212529
	}

	#mainNav.is-fixed .navbar-brand:focus,#mainNav.is-fixed .navbar-brand:hover {
		color: #0085A1
	}

	#mainNav.is-fixed .navbar-nav>li.nav-item>a {
		color: #212529
	}

	#mainNav.is-fixed .navbar-nav>li.nav-item>a:focus,#mainNav.is-fixed .navbar-nav>li.nav-item>a:hover {
		color: #0085A1
	}

	#mainNav.is-visible {
		-webkit-transform: translate3d(0, 100%, 0);
		-moz-transform: translate3d(0, 100%, 0);
		-ms-transform: translate3d(0, 100%, 0);
		-o-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
}

</style>
